*{
    box-sizing: border-box;
}
/* div{
    border: 2px solid red;
} */
.madam{
    border: 10px solid goldenrod;
}
.subham{
    width: 25%;
    float: left;
    background-color: aqua ;
    padding: 20px;
}
.anurag{
    width: 25%;
    background-color: beige;
    float: right;
    padding: 20px;
}
.raghua{
    width: 25%;
    background-color: lightgreen;
    float: left;
    padding: 20px;
}
.chandan{
    width: 25%;
    background-color: lightskyblue;
    float: left;
    padding: 20px ;
}
/* .clearfix{
    clear:both;
} */
.madam ::after{
    content:"" ;
    display: block;
    clear: both;
}